SECRET_KEY=
DB_NAME=elkaed_prod
DB_USER=elkaed
DB_PASSWORD=
DB_PORT=5432
ALLOWED_HOSTS=elkaed.cloud,www.elkaed.cloud
CORS_ALLOWED_ORIGINS=https://elkaed.cloud,https://www.elkaed.cloud
SITE_URL=https://elkaed.cloud
WAMA_API_KEY=
KANGA_PAY_PUBLIC_KEY=
KANGA_PAY_SECRET_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=elkaed-videos
CLOUDFRONT_DOMAIN=
CLOUDFRONT_KEY_PAIR_ID=
